
.navbar {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-around !important;
  font-size: 30px;
}

body {
  font-family: 'Unna', serif !important;
}

.listingForm {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.image-form{
  display: flex;
  flex-direction: column;
}

.Login {
  color: red !important;
}

ul {
  list-style-type: none;
}

.listing-container {
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.grid-wrapper {
  align-content: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
}

.imageGallery {
  align-content: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
}